{
  "installed": {
    "client_id": "ISI_DARI_GOOGLE_CLOUD.apps.googleusercontent.com",
    "project_id": "karirlog-personal",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "client_secret": "ISI_DARI_GOOGLE_CLOUD",
    "redirect_uris": ["http://localhost"]
  }
}
